<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="QuanLyQuanCaPheEntities" connectionString="metadata=res://*/QuanLyQuanCaPhe.csdl|res://*/QuanLyQuanCaPhe.ssdl|res://*/QuanLyQuanCaPhe.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2HMUBNL\SQLEXPRESS01;initial catalog=QuanLyQuanAn;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyQuanCaPheEntities1" connectionString="metadata=res://*/QuanLyQuanAn.csdl|res://*/QuanLyQuanAn.ssdl|res://*/QuanLyQuanAn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2HMUBNL\SQLEXPRESS01;initial catalog=QuanLyQuanAn;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyQuanCaPheEntities2" connectionString="metadata=res://*/DatasetForReport.csdl|res://*/DatasetForReport.ssdl|res://*/DatasetForReport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2HMUBNL\SQLEXPRESS01;initial catalog=QuanLyQuanCaPhe;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyQuanAnEntities" connectionString="metadata=res://*/QuanLyQuanAnEntity.csdl|res://*/QuanLyQuanAnEntity.ssdl|res://*/QuanLyQuanAnEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2HMUBNL\SQLEXPRESS01;initial catalog=QuanLyQuanAn;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
